// Fix for Roboto font path
$roboto-font-path: '../assets/';
$primary-col: #2b3990;
$secondary-col: #ff9800;
// Materialize styles
@import "materialize";

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url(/images/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  main {
    flex: 1 0 auto;
  }
  
  .logo{
  	height: 60px;
  }

nav, footer.page-footer {
	background-color: $primary-col;
}

a.wht{
	color:white;
}

.ember-webcam-viewer {
	margin-bottom: 1rem;
  width: auto;
}

html {
  color:white;
}

#index-banner {
  background: rgba(0, 0, 0, 0.4);
  min-height: 100vh;
}

footer.page-footer{
  margin-top: 0px;
}
